<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
      Welcome to {{ title }}!
      <br>
    Welcome to {{ title | myRev }}!
  </h1>
  <h2>
    Addition is:{{ 8 | myAdd: 3}}
  </h2>
  <h2>
      Multiplication is:{{ 7 | myMult: 3}}
    </h2>
    <h3>
      {{11| marvellousChk: 'Even'}}
    </h3>
    <h3>
      {{11| marvellousChk: 'Odd'}}
    </h3>
    <h3>
      {{11| marvellousChk: 'Prime'}}
    </h3>
    <h3>
      {{11| marvellousChk: 'Perfect'}}
    </h3>
</div>


